<h1>category</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">catrgory</th>

    </tr>
  </thead>
  <tbody>

    {{#each data}}

      <tr>
        <th scope="row">{{id}}</th>
        <td>{{category}}</td>

      </tr>

    {{/each}}

  </tbody>
</table>